<a href="https://colab.research.google.com/github/anutishah/project_gss/blob/main/gss_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import pandas as pd
import numpy as np


#
var_list = ['income', 'educ', 'natmass'] # List of variables you want to save
output_filename = 'selected_gss_data.csv' # Name of the file you want to save the data to
#
modes = ['w','a'] # Has write mode and append mode
phase = 0 # Starts in write mode; after one iteration of loop, switches to append mode
#
for k in range(3): # for each chunk of the data
    url = 'https://github.com/DS3001/project_gss/raw/main/gss_chunk_' + str(1+k) + '.parquet' # Create url to the chunk to be processed
     # Check the url is correct
    df = pd.read_parquet(url) # Download this chunk of data
    df.head() # Visually inspect the first few rows
    df.loc[:,var_list].to_csv(output_filename, # specifies target file to save the chunk to
                              mode=modes[phase], # control write versus append
                              header=var_list, # variable names
                              index=False) # no row index saved
    phase = 1 # Switch from write mode to append mode

df1 = pd.read_csv('/content/selected_gss_data.csv', low_memory=False)
print(df1) #uncleaned data

df1['income'] = df1['income'].replace('income',np.nan) #replaces income with NaN since it is not a valid label for this variable
print(df1.isna().sum()) #sums how many missing/invalid values there are for each variable
df1_cleaned = df1.dropna(subset = var_list)#removes any row containing NaN value - these values are missing or invalid according to codebook


#prints list of labels and counts for each label (each variable)
print(df1_cleaned['income'].unique(), '\n')
print(df1_cleaned['income'].value_counts(), '\n')
print(df1_cleaned['educ'].unique(),'\n')
print(df1_cleaned['educ'].value_counts(), '\n')
print(df1_cleaned['natmass'].unique(),'\n')
print(df1_cleaned['natmass'].value_counts(), '\n')

print(df1_cleaned)#all cleaned data

                income  educ     natmass
0                  NaN  16.0         NaN
1                  NaN  10.0         NaN
2                  NaN  12.0         NaN
3                  NaN  17.0         NaN
4                  NaN  12.0         NaN
...                ...   ...         ...
72387  $25,000 or more  12.0  too little
72388  $25,000 or more  19.0  too little
72389  $25,000 or more  15.0  too little
72390  $25,000 or more  17.0  too little
72391  $25,000 or more  20.0  too little

[72392 rows x 3 columns]
income      8953
educ         263
natmass    22089
dtype: int64
['$25,000 or more' '$10,000 to $14,999' '$20,000 to $24,999'
 '$15,000 to $19,999' '$5,000 to $5,999' '$3,000 to $3,999'
 '$6,000 to $6,999' '$7,000 to $7,999' '$1,000 to $2,999'
 '$8,000 to $9,999' 'under $1,000' '$4,000 to $4,999']

$25,000 or more       29682
$20,000 to $24,999     3614
$10,000 to $14,999     3607
$15,000 to $19,999     3069
$8,000 to $9,999       1104
$1,000 to $2,999        646
$7,000 to $7,999        614
under $1,000            598
$5,000 to $5,999        594
$6,000 to $6,999        572
$3,000 to $3,999        526
$4,000 to $4,999        498
Name: income, dtype: int64

['16.0' '15.0' '17.0' '18.0' '12.0' '11.0' '10.0' '8.0' '20.0' '9.0'
 '14.0' '13.0' '19.0' '3.0' '6.0' '7.0' '5.0' '0.0' '4.0' '1.0' '2.0']

12.0    12495
16.0     7361
14.0     5737
13.0     3939
15.0     2385
18.0     2297
11.0     2175
17.0     1772
10.0     1475
20.0     1439
9.0      1044
8.0      1001
19.0      817
6.0       394
7.0       303
5.0       124
3.0       104
4.0       103
2.0        76
0.0        63
1.0        20
Name: educ, dtype: int64

['too little' 'about right' 'too much']

about right    22969
too little     17727
too much        4428
Name: natmass, dtype: int64

                   income  educ     natmass
15580     $25,000 or more  16.0  too little
15581  $10,000 to $14,999  15.0  too little
15582     $25,000 or more  16.0  too little
15584     $25,000 or more  17.0  too little
15585     $25,000 or more  18.0  too little
...                   ...   ...         ...
72387     $25,000 or more  12.0  too little
72388     $25,000 or more  19.0  too little
72389     $25,000 or more  15.0  too little
72390     $25,000 or more  17.0  too little
72391     $25,000 or more  20.0  too little

[45124 rows x 3 columns]